@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Caprasimo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");

 /* Uses all elements*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ABeeZee', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

header{
    margin-block: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

body{
    background-color: #FFFCF3;
    align-items: center;
    justify-content: center;
}


.logo{
    font-size: 25px;
    font-weight: 10px;
    color: black;
    float: left;
    margin-left: 50px;
}

.fa-google{
    color: black;
}

.fa-github{
    color: black;
}

.fa-linkedin{
    color: black;
}

.social-nav{
    font-size: 25px;
    float: right;
    letter-spacing: 20px;
    position: 0 15px;
    color: black;
    margin-left: 15px;
}


h1{
    font-family: 'Caprasimo';
    color: #0A284C;
    text-align: center;
    font-size: 100px;
    font-weight: 100;
    margin-top: 350px;
    margin-bottom: 40px;
}

.label-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
}

.labels{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.labels .L1{
    border-style: solid;
    border-color: #F6C2AC;
    background-color: #F6C2AC;
    width:flex;
    border-radius: 25px;
    padding: 10px;

}

.labels .L2{
    border-style: solid;
    border-color: #F6C2AC;
    width:flex;
    border-radius: 25px;
    padding: 10px;

}

.labels .L3{
    border-style: solid;
    border-color: #F6C2AC;
    background-color: #F6C2AC;
    width:flex;
    border-radius: 25px;
    padding: 10px;

}

.labels .L4{
    border-style: solid;
    border-color: #F6C2AC;
    width:flex;
    border-radius: 25px;
    padding: 10px;

}